{% extends "website/base.html" %}

{% block content %}
    <table class="table">
        <caption>List of past orders</caption>
        <thead>
        <tr>
            <th scope="col">Tracking #</th>
            <th scope="col">UPS Account</th>
            <th scope="col">Product ID</th>
            <th scope="col">Amount</th>
            <th scope="col">Warehouse ID</th>
            <th scope="col">Truck ID</th>
            <th scope="col">Status</th>
            <th scope="col">Address</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td scope="row">{{ order.tracking_number }}</td>
                <td>{{ order.ups_account }}</td>
                <td>{{ order.product_id }}</td>
                <td>{{ order.amount }}</td>
                <td>{{ order.wh_id }}</td>
                <td>{{ order.truck_id }}</td>
                <td>{{ order.status }}</td>
                <td>({{ order.adr_x }},{{ order.adr_y }})</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}